<!-- <header>
  <app-navbar></app-navbar>
</header> -->


<!-- <section id="recharge">
<h3 style="text-align: center;padding-top: 6%;color: #fff;">Get your recharge done</h3>
<div align="center">
  <form target="_blank"><br> -->
      <!-- <label>First Name</label><br> -->
      <!-- <input type="text" name="first name" id="first name" placeholder="Mobile Number" required><br><br> -->
      <!-- <label>Last Name</label><br> -->
      <!-- <input type="text" name="last name" id="last name" placeholder="Last Name" required><br><br> -->
      <!-- <label>Email</label><br> -->
      <!-- <input type="email" pattern="[^ @]*@[^ @]*" placeholder="email address"><br><br> -->
      <!-- <label>Phone Number</label><br>
      <input type="number" name="phone number" id="phone number" placeholder="Phone Number" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"
      required><br><br> -->
      <!-- <label>Password</label><br> -->
      <!-- <input type="password" name="password" id="password" placeholder="Password" required><br><br> -->
            
            <!-- <label for="Gender">Gender</label><br>
            <select id="gender" name="gender">
              <option value="male">Male</option>
              <option value="female">Female</option>
              <option value="others">Others</option>
            </select><br><br> -->
            
            
            <!-- <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckIndeterminate" required>
             <label class="form-check-label" for="flexCheckIndeterminate" style="color: #fff;">
                Remember me
              </label>
            </div> -->
            <!-- <br>
            <button type="button" class="btn btn-light">Recharge</button> -->

      
      <!-- <div class="text-center pt-1 mb-5 pb-1">
        <a style="color: #fff;" href="#!">Forgot password?</a>
      </div> -->
      
  
  <!-- </form>
  </div>
</section> -->
 <!-- <div class="center">
    <input type="checkbox" id="show">
     <label for="show" class="show-btn">View Form</label>
    <div class="container" id="effect">
       <label for="show" class="close-btn fas fa-times" title="close"></label>
       <div class="text">
          Let's get your recharge done
       </div>
       <form action="#">
          <div class="data">
             <label>Mobile Number</label>
             <input type="number" required>
          </div>
          <div class="data">
             <label>Enter amount</label>
             <input type="number" required>
          </div>
          
          <div class="btn">
             <div class="inner"></div>
             <button type="submit" style="margin-top:2%;">Pay</button>
          </div>
         
       </form>
    </div>
 </div>  -->
 <!-- <section id="recharge-form">
 <div id="login-form-wrap" style="margin-top:10%">
   <h2>Recharge Now</h2>
   <br>
   <form id="login-form">
     <p>
     
     <input type="tel" id="mobilenumber" name="mobilenumber" placeholder="Mobile Number" required><i class="validation"><span></span><span></span></i>
     </p>
     <p>
     
     <input type="number" id="amount" name="amount" placeholder="Enter amount" required><i class="validation"><span></span><span></span></i>
     </p>
     <p>
     
     <a href="/billing" class="btn btn-primary">Proceed to Pay</a>  
   
     </p>
   </form>
    <div id="create-account-wrap">
     <p>Get your Recharge done<p>
     </div> 
 </div>
 
 </section> -->

 <!--Trigger-->
 <section id="popup">
<a class="login-trigger" href="#" data-target="#login" data-toggle="modal">Click to Recharge</a> 

<div id="login" class="modal fade" role="dialog">
  <div class="modal-dialog">
    
    <div class="modal-content">
      <div class="modal-body">
        <button data-dismiss="modal" class="close">&times;</button>
        <h4>Recharge</h4>
        <form>
          <input type="tel" name="username" class="username form-control" placeholder="Mobile Number"/>
          <input type="number" name="password" class="password form-control" placeholder="Amount"/>
          <!-- <input class="btn login" type="submit" value="Login" /> -->
          <a href="/billing" class="btn login">Proceed to Pay</a>  
        </form>
      </div>
    </div>
  </div>  
</div>
</section>
