
<nav class="navbar navbar-expand-lg  scrolling-navbar fixed-top">

    <div class="container-fluid">
    <a class="navbar-brand" href="/userhome">
      <i class="fa fa-user" style="font-size: 1cm;" aria-hidden="true"></i>
      <!-- <img class="logo" src="../../assets/Voizfonica.png"> -->
       Dashboard</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span> 
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav ml-auto" style="margin-right:2%;">
        <!-- <li class="nav-item">
          <a class="nav-link" routerLink="/admin">admin</a>
        </li>
        -->
        <li class="nav-item">
          <a class="nav-link up" routerLink="/userhome">Home</a>
        </li>

        

        <li class="nav-item">
          <a class="nav-link up" routerLink="/userprepaid">Prepaid</a>
        </li>
       
        <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Prepaid</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/prepaid">Recharge</a></li> 
            <div class="dropdown-divider"></div>
            <li><a class="dropdown-item" href="/simcard">New Prepaid SIM</a></li>     
          </ul>
        </li> -->
        <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Postpaid</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/postpaid">Recharge</a></li> 
            <div class="dropdown-divider"></div>
            <li><a class="dropdown-item" href="/postpaidsimcard">New Postpaid SIM</a></li>             
          </ul>
        </li> -->
        <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Dongle</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/admindongle">Dongle</a></li> 
    
          </ul>
        </li> -->
        <li class="nav-item">
          <a class="nav-link up" routerLink="/userpostpaid">Postpaid</a>
        </li>

        <li class="nav-item">
          <a class="nav-link up" routerLink="/userdongle">Dongle</a>
        </li>
        
        
<!-- 
        <li class="nav-item">
          <a class="nav-link up" routerLink="">Postpaid Plans</a>
        </li> -->

        <!-- <li class="nav-item">
          <a class="nav-link up" (click)="logout()" routerLink="/adminlogin">Log Out</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link up" routerLink="/usercontact">Contact</a>
        </li>

        <li class="nav-item">
            <a class="nav-link up" (click)="logout()" routerLink="/login">Logout <i class="fa fa-sign-out" aria-hidden="true"></i></a>
          </li>
       
      </ul>
      </div>
      </div>
    </nav>

   