/* @import url('https://fonts.googleapis.com/css?family=Open+Sans');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: 'Open Sans', sans-serif;
} */

/* body{
  background: url("https://i.imgur.com/LAfQyOR.jpg") no-repeat top center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  font-size: 16px;
} */

/* .wrapper{
  width: 100%;
  padding: 10px;
}

.container{
  max-width: 500px;
  height: auto;
  margin: 0px auto;
  background: #fff;
  padding: 20px 40px 30px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top: 7px solid #5f6c7d;
}

.title{
  color: #5f6c7d;
  font-size: 2em;
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
  margin-bottom: 20px;
}

.input-form{
  margin-bottom: 20px;
}

.input-form .label{
	  display: block;
    font-size: 1em;
    color: #212121;
    text-transform: capitalize;
    margin-bottom: 8px;
}

.input-form .items{
  margin-bottom: 20px;
}

.section-1 .items .input,
.section-2 .items .input,
.section-3 .items .input{
    background: transparent;
    border: 2px solid #BDBDBD;
    width: 100%;
    padding: 10px;
    font-size: 1em;
    color: #212121;
    border-radius: 3px;
}

.input-form .section-3{
  display: flex;
  justify-content: space-between;
}

.input-form .section-3 .items{
   width: 48%;
}

.btn{
	background: #5f6c7d;
	color: #fff;
	font-size: 1.25em;	
	padding: 10px 0;
	text-align: center;
	text-transform: uppercase;
	border-radius: 5px;
	cursor: pointer;
	font-weight: bold;
	letter-spacing: 2px;
}

.cvc{
  display: flex;
  justify-content: space-between;
  position: relative;
  transition: all 0.3s ease;
}

.cvc .tooltip{
  color: #d4d4d4;
  border: 2px solid #d4d4d4;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  text-align:center;
  cursor: pointer;
}

.cvc .cvc-img{
  position: absolute;
  top: -300%;
  right: 0;
  background: #5f6c7d;
  padding: 12px;
  border-radius: 5px;
  display: none;
}

.cvc .cvc-img img{
  width: 100px;
  height: auto;
  display: block;
}

.cvc:hover .cvc-img{
  display: block;
}

@media screen and (max-width: 460px){
  .input-form .section-3{
    flex-direction: column;
  }
  .input-form .section-3 .items{
     width: 100%;
  }
  .input-form .items{
    margin-bottom: 10px;
  }

  .input-form{
    margin-bottom: 15px;
  }
  .title{
    font-size: 1.5em;
    margin-bottom: 15px;
  }
} */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    text-transform: uppercase;
}

.container{
    min-height: 100vh;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    padding-bottom: 60px;
}

.container form{
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 10px 15px rgba(0,0,0,.1);
    padding: 20px;
    width: 600px;
    padding-top: 160px;
}

.container form .inputBox{
    margin-top: 20px;
}

.container form .inputBox span{
    display: block;
    color:#999;
    padding-bottom: 5px;
}

.container form .inputBox input,
.container form .inputBox select{
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border:1px solid rgba(0,0,0,.3);
    color:#444;
}

.container form .flexbox{
    display: flex;
    gap:15px;
}

.container form .flexbox .inputBox{
    flex:1 1 150px;
}

.container form .submit-btn{
    width: 100%;
    /* background:linear-gradient(45deg, blueviolet, deeppink); */
   background-color: aqua; 
    margin-top: 20px;
    padding: 10px;
    font-size: 20px;
    color:#fff;
    border-radius: 10px;
    cursor: pointer;
    /* transition: .2s linear; */
}

/* .container form .submit-btn:hover{
    letter-spacing: 2px;
    opacity: .8;
} */

.container {
    margin-bottom: -150px;
    position: relative;
    height: 250px;
    width: 400px;
}

.container .front{
    position:fixed;
    height: 100%;
    width: 100%;
    top: 0; left: 0;
 background:linear-gradient(45deg, blueviolet, deeppink);
    border-radius: 5px;
    /* backface-visibility: hidden; */
    box-shadow: 0 15px 25px rgba(0,0,0,.2);
    padding:20px;
     transform:perspective(1000px) rotateY(0deg);
    transition:transform .4s ease-out; 
}

.container .front .image{
    display: flex;
    align-items:center;
    justify-content: space-between;
     padding-top: 10px; 
}

 .container .front .image img{
     height: 50px; 
} 

.container .front .card-number-box{
     padding:30px 0;
    font-size: 22px;
    color:#fff;
}

.container .front .flexbox{
    display: flex;
}

.container.front .flexbox .box:nth-child(1){
    margin-right: auto;
}

.container.front .flexbox .box{
    font-size: 15px;
    color:#fff;
}

.container .back{
    position: absolute;
    top:0; left: 0;
    height: 100%;
    width: 100%;
    background:linear-gradient(45deg, blueviolet, deeppink);
    border-radius: 5px;
    padding: 20px 0;
    text-align: right;
    backface-visibility: hidden;
    box-shadow: 0 15px 25px rgba(0,0,0,.2);
    /* transform:perspective(1000px) rotateY(180deg);
    transition:transform .4s ease-out; */
}

 /* .container {
    background: #000;
    width: 100%; 
    margin: 10px 0; 
     height: 50px; 
}  */

.container .back .box{
     padding: 0 20px; 
}

.container  .back .box span{
    color:#fff;
    font-size: 15px;
}

.container .back .box .cvv-box{
    height: 50px;
    padding: 10px;
    margin-top: 5px;
    color:#333;
    background: #fff;
    border-radius: 5px;
    width: 100%;
}

/* .container .back .box img{
     margin-top: 30px;
    height: 30px; 
} */
.container-fluid{
    margin-top: -15%;
}
.btalign{
  margin: 2% 0% 2% 0%;
}