<app-usernav></app-usernav>

<section id="card-layout">
    <h1  class="text-uppercase mb-30" style="color:black;text-align:center;padding-top: 3%;color:#fff;font-weight: bolder;font-family: helvetica,arial,sans-serif;display: block;">VoizFonica's Postpaid plans</h1>
    <br>
    <h4 style="color:#fff;text-align:center;">Choose a Postpaid mobile plan that suits as per<br> your digital aspirations</h4>  
    <div class="card-group">
    <div class="row row-pad">
      <div class="col-lg-4 card-hover">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title" style="font-weight: bold;"><i class="bi bi-currency-rupee"></i>1199</h3>
      
          <p class="card-text">Data: 150GB</p>
        
            <p class="card-text">Validity: Bill cycle</p>
    
            <p class="card-text">Voice: Unlimited Calls | SMS : 100 SMS/day, Get Benefits worth Rs.1000 and get exciting prices</p>
          
          <p class="card-text"><small class="text-muted"></small></p>
          <a href="/billing" class="btn btn-primary">Buy</a>
        </div>
      </div>
      </div>
      <div class="col-lg-4 card-hover">
      <div class="card">
        <div class="card-body">
          <h3 style="font-weight: bold;"class="card-title"><i class="bi bi-currency-rupee"></i>1399</h3>
      
          <p class="card-text">Data: 250GB</p>
        
            <p class="card-text">Validity: Bill cycle</p>
    
            <p class="card-text">Local/STD & Roaming calls: Unlimited Calls | SMS : 100 SMS/day,Get Benefits worth Rs.2000</p>
          
          <p class="card-text"><small class="text-muted"></small></p>
          <a href="/billing" class="btn btn-primary">Buy</a>
        </div>
      </div>
      </div>
      <div class="col-lg-4 card-hover">
      <div class="card">
        <div class="card-body">
          <h3 style="font-weight: bold;"class="card-title"><i class="bi bi-currency-rupee"></i>999</h3>
      
          <p class="card-text">Data: 100GB</p>
        
            <p class="card-text">Validity: Bill cycle</p>
    
            <p class="card-text">Local/STD & Roaming calls: Unlimited Calls | SMS : 100 SMS/day,and </p>          
          <p class="card-text"><small class="text-muted"></small></p>
          <a href="/billing" class="btn btn-primary">Buy</a>
        </div>
      </div>
      </div>
    </div>
    </div>
    

    <div class="card-group">
      <div class="row row-pad">
        <div class="col-lg-4 card-hover">
        <div class="card">
          <div class="card-body">
            <h3 style="font-weight: bold;"class="card-title"><i class="bi bi-currency-rupee"></i>399</h3>
      
          <p class="card-text">Data: 60GB</p>
        
            <p class="card-text">Validity: Bill Cycle</p>
    
            <p class="card-text">Local/STD & Roaming calls: Unlimited Calls | SMS : 100 SMS/day, thereafter 10GB</p>
            <p class="card-text"><small class="text-muted"></small></p>
            <a href="/billing" class="btn btn-primary">Buy</a>
          </div>
        </div>
        </div>
        <div class="col-lg-4 card-hover">
        <div class="card">
          <div class="card-body">
            <h3 style="font-weight: bold;"class="card-title"><i class="bi bi-currency-rupee"></i>499</h3>
      
          <p class="card-text">Data: 75GB</p>
        
            <p class="card-text">Validity: Bill Cycle</p>
    
            <p class="card-text">Voice: Unlimited Calls | SMS : 100 SMS/day, Get Benefits worth Rs.1000 and additional coupons</p>
            <p class="card-text"><small class="text-muted"></small></p>
            <a href="/billing" class="btn btn-primary">Buy</a>
          </div>
        </div>
        </div>
        <div class="col-lg-4 card-hover">
        <div class="card">
          <div class="card-body">
            <h3 style="font-weight: bold;"class="card-title"><i class="bi bi-currency-rupee"></i>1299</h3>
      
          <p class="card-text">Data: 200GB</p>
        
            <p class="card-text">Validity: Bill Cycle</p>
    
            <p class="card-text">Voice: Unlimited Calls & Roaming calls | SMS : 100 SMS/day, Get Benefits worth Rs.1000</p>
            <p class="card-text"><small class="text-muted"></small></p>
            <a href="/billing" class="btn btn-primary">Buy</a>
          </div>
        </div>
        </div>
      </div>
      </div> 
</section>
