.card{
    padding:5% 10%;
    text-align: center;
}
.row-pad{
    padding: 1% 5% 3% 5%;
}
#card-layout{
    background-color: #1A1A40;
    padding-top: 5%;
}
.card-hover {

  display: inline-block;

  vertical-align: middle;

  -webkit-transform: perspective(1px) translateZ(0);

  transform: perspective(1px) translateZ(0);

  box-shadow: 0 0 1.5px rgba(255, 255, 255, 0);

  -webkit-transition-duration: 0.3s;

  transition-duration: 0.3s;

  -webkit-transition-property: box-shadow, transform;

  transition-property: box-shadow, transform;

}

.card-hover:hover, .card-hover:focus, .card-hover:active {

  box-shadow: 0 15px 15px -15px rgba(255, 255, 255, 0.8);

  -webkit-transform: scale(1.1);

  transform: scale(1.1);

}
/* #product1{
    background-color: #1F1D36;   
} */
/* @media only screen and (max-width: 600px) {
    .columns {
      width: 100%;
    }
  }

.columns {
    float: left;
    width: 33.3%;
    padding: 8px;
  }
  
  
   .price {
    list-style-type: none;
    border: 1px solid #eee;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  } 
  
  
  .price:hover {
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
  }
  
  
  .price .header {
    background-color: #111;
    color: white;
    font-size: 25px;
  }
  
  
  .price li {
    border-bottom: 1px solid #eee;
    padding: 20px;
    text-align: center;
  }
  
  
  .price .grey {
    background-color: #eee;
    font-size: 20px;
  } */