<!-- <app-adminnav></app-adminnav>
    <div class="col-lg-6">
        <div class="bd" >
            <nav class="navbar navbar-expand  sticky-top px-4 py-0">
            <div>
                <button style="margin-top:0px;" class="center" type="submit" class="btn btn-primary" click="getdata()">Plan details</button> -->
            <!-- </div>
            </nav>
        </div>
    </div>  -->

    <div class="container table-responsive py-3">
        <table class="table">
        <div class="row">
            <div class="col-lg-6" style="width:100%">
            <thead class="table-dark">
              <!-- <tr>
                <th scope="col">Plans</th>
                <th scope="col">Data</th>
                <th scope="col">Validity</th>
                <th scope="col">Offers</th>
                 <th scope="col">Action</th> 
              </tr> -->
            </thead>
            </div>
            <div class="col-lg-6">
            <tbody>
              <tr>
                <td>plan : </td>
                <td>150GB</td>
                <td>Bill Cycle</td>
                <td>Unlimited Calls | SMS : 100 SMS/day</td>
                <!-- <td><button type="submit" class="btn btn-danger">Delete</button></td> -->
              </tr>
            </tbody>
            <tbody>
                <tr>
                  <td>plan : </td>
                  <td>250GB</td>
                  <td>Bill Cycle</td>
                  <td>Unlimited Calls | SMS : 100 SMS/day</td>
                  <!-- <td><button type="submit" class="btn btn-danger">Delete</button></td> -->
                </tr>
              </tbody>
              <tbody>
                <tr>
                  <td>plan : </td>
                  <td>60GB</td>
                  <td>Bill Cycle</td>
                  <td>Unlimited Calls | SMS : 100 SMS/day</td>
                  <!-- <td><button type="submit" class="btn btn-danger">Delete</button></td> -->
                </tr>
              </tbody>
              <tbody>
                <tr>
                  <td>plan : </td>
                  <td>100GB</td>
                  <td>Bill Cycle</td>
                  <td>Unlimited Calls | SMS : 100 SMS/day</td>
                  <!-- <td><button type="submit" class="btn btn-danger">Delete</button></td> -->
                </tr>
              </tbody>
              <tbody>
                <tr>
                  <td>plan : </td>
                  <td>75GB</td>
                  <td>Bill Cycle</td>
                  <td>Unlimited Calls | SMS : 100 SMS/day</td>
                  <!-- <td><button type="submit" class="btn btn-danger">Delete</button></td> -->
                </tr>
              </tbody>
              <tbody>
                <tr>
                  <td>plan : </td>
                  <td>200GB</td>
                  <td>Bill cycle</td>
                  <td>Unlimited Calls | SMS : 100 SMS/day</td>
                  <!-- <td><button type="submit" class="btn btn-danger">Delete</button></td> -->
                </tr>
              </tbody>
              </div>
              </div>
          </table>
               </div>




