.navbar{
    background-color: hsla(0, 0%, 78%, 0.603) !important;
    backdrop-filter: saturate(150%) blur(4px);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-bottom: -0%;
}
.navbar-brand{
    font-family:'Segoe Print' ;
    font-weight: 900;
    font-size: 27px;
}
.up{
    color: aliceblue;
}