<app-usernav></app-usernav>

<section id="card-layout">
  
    <!-- <h3  class="text-uppercase mb-30" style="color:black;text-align:center;padding-top: 3%;">Explore our Prepaid services</h3> -->
    <h1  class="text-uppercase mb-30" style="color:black;text-align:center;padding-top: 3%;color:#fff;font-weight: bolder;font-family: helvetica,arial,sans-serif;display: block;">VoizFonica's Unlimited Prepaid</h1>
    <br>
    <h4 style="color:#fff;text-align:center;">Choose a Prepaid mobile plan that suits as per<br> your digital aspirations</h4>
  <div class="card-group">
    <div class="row row-pad">
      <div class="col-lg-4 ">
      <div class="card card-hover" >
        <div class="card-body">
          <div class="cart-head">
        <span><h3 class="card-title"><i class="bi bi-currency-rupee"></i>749</h3></span>
          </div>
      
          <p class="card-text">Data: 2/GB Day</p>
        
            <p class="card-text">Validity: 90 days</p>
    
            <p class="card-text">Voice: Unlimited Calls | SMS : 100 SMS/day, Get Benefits worth Rs.1000and get coupons</p>
  
          
          <p class="card-text"><small class="text-muted"></small></p>
           <a href="/billing" class="btn btn-primary">Buy</a>
           <!--Pop up start-->
           <!-- <div class="center"> -->
            <!-- <input type="checkbox" id="show">
            <label for="show" class="btn btn-primary" >Buy</label>
            <div class="container" id="effect">
               <label for="show" class="close-btn fas fa-times" title="close"></label>
               <div class="text">
                  Login Form
               </div>
               <form action="#">
                  <div class="data">
                     <label>Email or Phone</label>
                     <input type="text" required>
                  </div>
                  <div class="data">
                     <label>Password</label>
                     <input type="password" required>
                  </div>
                  <div class="forgot-pass">
                     <a href="#">Forgot Password?</a>
                  </div>
                  <div class="btn">
                     <div class="inner"></div>
                     <button type="submit" style="margin-top:2%;">login</button>
                  </div>
                  <div class="signup-link">
                     Not a member? <a href="#">Signup now</a>
                  </div>
               </form>
            </div> -->
         <!-- </div> -->
         <!--pop up ending-->
        </div>
      </div>
      </div>
      <div class="col-lg-4">
      <div class="card card-hover">
        <div class="card-body">
          <h3 class="card-title"><i class="bi bi-currency-rupee"></i>719</h3>
          <p class="card-text">Data: 2/GB Day</p>
          <p class="card-text">Validity: 84 days</p>
          <p class="card-text">Voice: Unlimited Calls | SMS : 100 SMS/day & Get a chance to win amazing prices</p>
          
          <p class="card-text"><small class="text-muted"></small></p>
          <a href="/billing" class="btn btn-primary">Buy</a>
        </div>
      </div>
      </div>
      <div class="col-lg-4">
      <div class="card card-hover">
        <div class="card-body">
          <h3 class="card-title"><i class="bi bi-currency-rupee"></i>299</h3>
          <p class="card-text">Data: 2/GB Day</p>
          <p class="card-text">Validity: 28 days</p>
          <p class="card-text">Voice: Unlimited Calls | SMS : 100 SMS/day,Disney+ Hotstar mobile subscription for 1 month</p>
          
          <p class="card-text"><small class="text-muted"></small></p>
          <a href="/billing" class="btn btn-primary">Buy</a>
        </div>
      </div>
      </div>
    </div>
    </div>
    

    <div class="card-group">
      <div class="row row-pad">
        <div class="col-lg-4">
        <div class="card card-hover">
          <div class="card-body">
            <h3 class="card-title"><i class="bi bi-currency-rupee"></i>239</h3>
          <p class="card-text">Data: 1.5/GB Day</p>
          <p class="card-text">Validity: 30 days</p>
          <p class="card-text">Voice: Unlimited Calls | SMS : 100 SMS/day & Get a chance to win exciting prices</p>
            <p class="card-text"><small class="text-muted"></small></p>
            <a href="/billing" class="btn btn-primary">Buy</a>
          </div>
        </div>
        </div>
        <div class="col-lg-4">
        <div class="card card-hover">
          <div class="card-body">
            <h3 class="card-title"><i class="bi bi-currency-rupee"></i>533</h3>
          <p class="card-text">Data: 2/GB Day</p>
          <p class="card-text">Validity: 56 days</p>
          <p class="card-text">Voice: Unlimited Calls | SMS : 100 SMS/day & Additional 5GB data + coupons</p>
            <p class="card-text"><small class="text-muted"></small></p>
            <a href="/billing" class="btn btn-primary">Buy</a>
          </div>
        </div>
        </div>
        <div class="col-lg-4">
        <div class="card card-hover">
          <div class="card-body">
            <h3 class="card-title"><i class="bi bi-currency-rupee"></i>479</h3>
          <p class="card-text">Data: 1.5/GB Day</p>
          <p class="card-text">Validity: 56 days</p>
          <p class="card-text">Voice: Unlimited Calls | SMS : 100 SMS/day & and Get some additional coupons</p>
            <p class="card-text"><small class="text-muted"></small></p>
            <a href="/billing" class="btn btn-primary">Buy</a>
          </div>
        </div>
        </div>
      </div>
      </div> 
    
</section>