<header>
  <app-navbar></app-navbar>
</header>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
<!-- <p>home works!</p> -->

<!--Carousel Wrapper-->

<div id="carousel-example-1" class="carousel slide carousel-fade" data-ride="carousel">
  
    <!--Indicators-->
    <!-- <ol class="carousel-indicators">
      <li data-target="#carousel-example-1" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-1" data-slide-to="1"></li>
      <li data-target="#carousel-example-1" data-slide-to="2"></li>
    </ol> -->
    <!--/.Indicators-->
  
    <!--Slides-->
    <div class="carousel-inner" role="listbox">
  
      <!--First slide-->
      <div class="carousel-item active">
        <!--Mask-->
        <div class="view">
          <div class="full-bg-img flex-center mask rgba-indigo-light white-text">
            <ul class="animated fadeInUp col-md-12 list-unstyled list-inline">
              <li>
                <h1 class="font-weight-bold text-uppercase" style="margin-top: 10%;margin-left:1%;color: white;font-size: 3.5rem;" class="j-color-primary-grey-100 j-text-heading-l">Get a new VoizFonica <br>sim delivered for free</h1>
              </li>
              <br>
              <br>
              <li>
                <p class="font-weight-bold text-uppercase py-4" style="margin-left:1%;color: white;font-size: 1.5rem;" class="j-color-primary-grey-100 j-text-heading-l">Superfast internet connection with unlimited data <br>and get a chance to win amazing vouchers</p>
              </li>
              <br>
              <!-- HTML !-->
              <!-- <button class="button-85" role="button">Button 85</button> -->
              <a href="/simcard" class="button-85" style="margin-left:1%;">Get Prepaid SIM</a>
              <a href="/postpaidsimcard" class="button-85" style="margin-left:1%;">Get postpaid SIM</a>
               <!-- <li class="list-inline-item">
                <a target="_blank" href="/simcard" class="btn btn-primary" style="margin-left:10%;">SIM</a>
              </li> -->
              <!-- HTML !-->
                  <!-- <button class="button-34" role="button">Button 34</button> -->

              <!--<li class="list-inline-item">
                <a target="_blank" href="https://mdbootstrap.com/material-design-for-bootstrap/" class="btn btn-cyan btn-lg btn-rounded ml-0">Learn more</a>
              </li> -->
                <!-- <li class="list-inline-item">
                    <button type="button" class="btn btn-primary" style="margin-left:10%"></button>
                </li>
                <li class="list-inline-item">
                    <button type="button" class="btn btn-info" style="margin-left:10%"></button>
                </li> -->
            </ul>
          </div>
        </div>
        <!--/.Mask-->
      </div>
      <!--/.First slide-->
  
      <!--Second slide -->
      <!-- <div class="carousel-item">
        
        <div class="view">
          <div class="full-bg-img flex-center mask rgba-purple-light white-text">
            <ul class="animated fadeInUp col-md-12 list-unstyled">
              <li>
                <h1 class="font-weight-bold text-uppercase" style="margin-top: 5%;">Lots of tutorials at your disposal</h1>
              </li>
              <li>
                <p class="font-weight-bold text-uppercase py-4">And all of them are FREE!</p>
              </li>
              <li>
                <a target="_blank" href="https://mdbootstrap.com/bootstrap-tutorial/" class="btn btn-primary btn-rounded btn-lg">Start learning</a>
              </li>
            </ul>
          </div>
        </div>
        
      </div> -->
      <!--/.Second slide -->
  
      <!--Third slide-->
      <!-- <div class="carousel-item">
        
        <div class="view">
          <div class="full-bg-img flex-center mask rgba-blue-light white-text">
            <ul class="animated fadeInUp col-md-12 list-unstyled">
              <li>
                <h1 class="font-weight-bold text-uppercase" style="margin-top: 5%;">Visit our support forum</h1>
              </li>
              <li>
                <p class="font-weight-bold text-uppercase py-4">Our community can help you with any question</p>
              </li>
              <li>
                <a target="_blank" href="https://mdbootstrap.com/forums/forum/support/" class="btn btn-lg btn-indigo btn-rounded">Support forum</a>
              </li>
            </ul>
          </div>
        </div>
        
      </div> -->
      <!--/.Third slide-->
  
    </div>
    <!--/.Slides-->
  
    <!--Controls-->
    <!-- <a class="carousel-control-prev" href="#carousel-example-1" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carousel-example-1" role="button" data-slide="next">
      <span class="carousel-control-next-icon"  aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a> -->
    <!--/.Controls-->
  </div>
  <!--/.Carousel Wrapper-->
<!-- <section id="card-layout">
    <h3  class="text-uppercase mb-30" style="color:black;text-align:center;padding-top: 3%;">Our services</h3>
  <div class="card-group">
    <div class="row row-pad">
      <div class="col-lg-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">BASIC</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          
          <p class="card-text"><small class="text-muted"></small></p>
          <a href="#" class="btn btn-primary">Buy</a>
        </div>
      </div>
      </div>
      <div class="col-lg-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">PRO</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          
          <p class="card-text"><small class="text-muted"></small></p>
          <a href="#" class="btn btn-primary">Buy</a>
        </div>
      </div>
      </div>
      <div class="col-lg-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">PREMIUM</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          
          <p class="card-text"><small class="text-muted"></small></p>
          <a href="#" class="btn btn-primary">Buy</a>
        </div>
      </div>
      </div>
    </div>
    </div>
    

    <div class="card-group">
      <div class="row row-pad">
        <div class="col-lg-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">BASIC</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
           
            <p class="card-text"><small class="text-muted"></small></p>
            <a href="#" class="btn btn-primary">Buy</a>
          </div>
        </div>
        </div>
        <div class="col-lg-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">PRO</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            
            <p class="card-text"><small class="text-muted"></small></p>
            <a href="#" class="btn btn-primary">Buy</a>
          </div>
        </div>
        </div>
        <div class="col-lg-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">PREMIUM</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            
            <p class="card-text"><small class="text-muted"></small></p>
            <a href="#" class="btn btn-primary">Buy</a>
          </div>
        </div>
        </div>
      </div>
      </div> 
</section> -->
<!--features-->

<section id="features">
  <h1  class="text-uppercase mb-30" style="color:black;text-align:center;padding-bottom: 5%;font-weight: bolder;font-family: helvetica,arial,sans-serif;display: block;"> Explore our services</h1>
  <div class="row">
    <div class="feature-box col-lg-4">
     <!-- <i class=" icon bi bi-box-fill"></i> -->
     <li><a href="/prepaid"><img src="assets/prepaid.png" alt="" width="90px" height="90px"></a></li>
      <h4>Prepaid</h4>
      <p style="font-weight:500;">VoizFonica Unlimited Prepaid<br>Talk unlimited. Our best plans, our best prices, on the best network</p>
    </div>
    <div class="feature-box col-lg-4">
     <!-- <i class=" icon bi bi-pencil-square"></i> -->
     <li><a href="/postpaid"><img src="assets/postpaid.png" alt="" width="90px" height="90px"></a></li>
     <h4>Postpaid</h4>
     <p style="font-weight:500;">Join us on VoizFonica Postpaid<br>We are improving everyday and we have got postpaid plans</p>
    </div>
   <div class="feature-box col-lg-4">
     <!-- <i class=" icon bi bi-diagram-3-fill"></i> -->
     <a href="/dongleplans">
     <img src="https://cdn-icons-png.flaticon.com/512/3274/3274009.png" alt="" width="90px" height="90px"></a>
     <h4>Dongle</h4>
     <p style="font-weight:500;">Step into the future of unlimited broadband plans with Voizfonica fibernet technology</p>
   </div>
  
 </div>
</section>


<section class="prepaid-main">
  <div class="container">
    <div class="row">
  <div class="col-lg-6" style="padding-left:7%;padding-top: 8%;">
    <div class="prepaid-flex">
      <div class="left">
        <h4><span class="heading" style="text-decoration:underline;">PREPAID</span></h4>
        <br>
        <h5>VOIZFONICA PREPAID
          <br>
          STARTING AT <span style="color:coral"><i class="bi bi-currency-rupee"></i>239</span>
          <br>
          <br>
          <p>
            Unlimited voice calls, 100 SMS per day and <br>get a chance win amazing prices
          </p>
        </h5>
        <span class="choose">Choose from our</span>
        <br>
        <span>Best Selling Prepaid Plans</span>
      </div>
      <br>
      <a href="/prepaid" class="btn btn-light">View Plans</a>
    </div>
  </div>
  <div class="col-lg-6">
  <img src="https://img.freepik.com/free-vector/e-wallet-concept-illustration_114360-7561.jpg?w=740&t=st=1662795690~exp=1662796290~hmac=7e97295df111130094277a6684b4f11b3ec5f40c88610b2d1dd08a2104bdb5f0" alt="" width="90%" height="90%" style="border-radius:70%;">
</div>  
</div>
</div>
</section>


<section id="site-register">
  <div class="container">
  <div class="row justify-content-center text-center">
    <div class="col-lg-7">
      <span style="color:#F10086;"><h1 class="mb-4" style="font-weight: bold;">Create an account and start using our services</h1></span>
      <a href="/register" class="btn btn-primary">Register</a>
    </div>
  </div>
</div>
</section>

<section class="postpaid-main">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <img src="https://img.freepik.com/free-vector/credit-card-landing-page-payment-concept_23-2148298750.jpg?w=740&t=st=1662796848~exp=1662797448~hmac=5df52593e8be0ab10deb0d5e8c7927dcc3621f426e77fdcecb4ef6d9382c37ae" class="img-fluid" alt="" width="90%" height="90%" style="border-radius:50%;" >
      </div>
  <div class="col-lg-6" style="padding-left:7%;padding-top: 8%;">
    <div class="prepaid-flex">
      <div class="left">
        <h4><span class="heading" style="text-decoration:underline;">POSTPAID</span></h4>
        <br>
        <h5>VOIZFONICA POSTPAID
          <br>
          STARTING AT <span style="color:coral"><i class="bi bi-currency-rupee"></i>399</span>
          <br>
          <br>
          <p>
            Enjoy unlimited entertainment, share data with your<br> friends and families and also save unused data 
          </p>
        </h5>
        <span class="choose">Choose from our</span>
        <br>
        <span>Best Selling Postpaid Plans</span>
      </div>
      <br>
      <a href="/postpaid" class="btn btn-light">View Plans</a>
    </div>
  </div>  
</div>
</div>
</section>

<!-- <div class="container-fluid">
  <img src="https://assets.airtel.in/static-assets/safo/bb/img/fiberBannerDesktop.png" alt="" width="100%" height="100%">
</div> -->

<!-- <section id="about-section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6">
        About us
      </div>
      <div class="col-lg-6">
        <img src="https://img.freepik.com/free-vector/company-providing-management-training-office-space-business-incubator-business-training-programs-shared-administrative-service-concept_335657-2152.jpg?w=996&t=st=1662798768~exp=1662799368~hmac=27e3234662d3756bac8f72256510595ec34a09cbe4eaeaeaaeeecc7f4996303b" alt="" width="100%" height="100%">
      </div>
    </div>
  </div>
</section> -->

<!-- <section id="footer-section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6">
        <h6>Copyright © 2022. All rights reserved.</h6>
      </div>
      <div class="col-lg-6">
        <ul class="icons1">
          <i class="social-icon bi bi-facebook"></i>
          <i class="social-icon bi bi-instagram"></i>
          <i class="social-icon bi bi-twitter"></i>
          <i class="social-icon bi bi-envelope"></i>
        </ul>
      </div>
    </div>
  </div>
</section> -->

 <!-- Site footer -->
 <!-- <footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h6 style="color:black;text-decoration: underline;">About</h6>
        <p class="text-justify">VoizFonica is a Mobile Network Operator and telephone company. VoizFonica provides network access and telecommunication services that help people and companies communicate in an easy, efficient and environmentally friendly way.



          VoizFonica business is very technology dependent as company acts as a network service provider (NSP)  in mobile.</p>
      </div>
      </div>


      <div class="col-xs-6 col-md-3">
        <h6>Quick Links</h6>
        <ul class="footer-links">
          <li><a href="">About Us</a></li>
          <li><a href="/contact">Contact Us</a></li>
          <li><a href=""></a></li>
          <li><a href=""></a></li>
        </ul>
      </div>
    <hr>
  </div> -->
  <section class="page-section text-white mb-0" id="about">
    <div class="container">
        <!-- About Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-white">About</h2>
        <!-- Icon Divider-->
        <!-- <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"></div>
            <div class="divider-custom-line"></div>
        </div> -->
        <!-- About Section Content-->
        <div class="row">
            <div class="col-lg-12 ms-auto"><p class="lead">
              VoizFonica is a Mobile Network Operator and telephone company. VoizFonica provides network access and telecommunication services that help people and companies communicate in an easy, efficient and environmentally friendly way.
VoizFonica business is very technology dependent as company acts as a network service provider (NSP)  in mobile.<br><br>
              VoizFonica is a company that is aware of the new challenges posed by today's society. This is why the company offer the means to facilitate communication between people, providing them with the most secure and state of the art technology in order for them to live better, and for them to achieve whatever they resolve.</p></div>
        </div>
        
        <!-- About Section Button-->
        <!-- <div class="text-center mt-4">
            <a class="btn btn-xl btn-outline-light" href="https://startbootstrap.com/theme/freelancer/">
                <i class="fas fa-download me-2"></i>
                Free Download!
            </a>
        </div> -->
    </div>
    
</section>
  <div class="container">
    <div class="row" style="padding-top:3%;padding-bottom:3%;">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <p class="copyright-text">Copyright &copy; 2017 All Rights Reserved. 
     <a href="#"></a>.
        </p>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12">
        <ul class="social-icons">
          <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a class="dribbble" href="#"><i class="fa fa-instagram"></i></a></li>
          <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>   
        </ul>
      </div>
    </div>
  </div>
<section id="png">

</section>
  
 